<%- include('./templates/htmlOpen') %>

<!-- Stylesheets Added Here -->

<%- include('./templates/header') %>

<h1>Sorry, page "<span id="badInput">Page</span>" does not exist.</h1>

<%- include('./templates/footer') %>

<script src="../scripts/displayErrorURL.js"></script>
<%- include('./templates/htmlClose') %>
