<%- include('./templates/htmlOpen') %>
<!-- Stylesheets added here -->
<link rel="stylesheet" href="/styling/welcomePage.css">
<%- include('./templates/header') %>

<!-- Welcome -->
<br><div class="d-flex justify-content-center">
    <h1>Welcome!</h1>
</div><br>

<!-- New Music Title -->
<div class="d-flex justify-content-center">
    <h3>Songs For You:<br></h3>
</div>

<!-- Music Display -->
<div class="d-flex justify-content-center">
    <img src="https://dummyimage.com/150X150/57B8FF" alt="Icon1" class="img-thumbnail">
    <img src="https://dummyimage.com/150X150/FBB13C" alt="Icon2" class="img-thumbnail">
    <img src="https://dummyimage.com/150X150/FE6847" alt="Icon3" class="img-thumbnail">
</div><br><br>

<!-- Find Music Title -->
<div class="d-flex justify-content-center">
    <h3>Find New Music<br></h3>
</div>

<!-- Find Music Search -->
<div class="d-flex justify-content-center">
    <button id="find-music-button" onclick="location.href='/inputSong'">Find Music</button>
</div><br>

<%- include('./templates/footer') %>

<!-- js scripts added here -->

<%- include('./templates/htmlClose') %>