<%- include('./templates/htmlOpen') %>

<!-- Stylesheets added here -->

<%- include('./templates/header') %>
<div class="login-form">
  &nbsp;<br><h1 class="login-form-text">Log In</h1>
  <br>
  <form action='/loggingin' method='post' class="login-form-info">
    <input name='email' type='text' placeholder='email' class="login-form-info-input">
    <input name='password' type='password' placeholder='password' class="login-form-info-input">
    <button onclick="location.href='/home'"  class="login-form-info-input"></buttononclick>Submit</button>
  </form> 

<br><br>
<div class="d-flex justify-content-center">
  <h4>or &nbsp;<br></h4>
  <button onclick="location.href='/changePassword'">Change Password</button>
</div>
</div>
<%- include('./templates/footer') %>

<!-- JS scripts added here -->

<%- include('./templates/htmlClose') %>