

<%- include('./templates/htmlOpen') %>

<!-- Stylesheets added here -->

<%- include('./templates/header') %>

Invalid username/password.
<br>

<button onclick="location.href='/login'">Try Again</button>
<button onclick="location.href='/changePassword'">Reset Password</button>

<%- include('./templates/footer') %>

<!-- JS scripts added here -->

<%- include('./templates/htmlClose') %>