<%- include('./templates/htmlOpen') %>

<!-- Stylesheets added here -->
<link rel="stylesheet" href="../styling/securityQuestionPage.css">
<%- include('./templates/header') %>
<div class="centered security-question-page"><br>
    <h2>Enter a new password</h2>
    <form action='/changingPassword' method='post'>
        <input name='password' type='password' placeholder='password' class="reset-pass-info">
    <button class="reset-pass-button">Submit</button>
    </form>
</div>

<%- include('./templates/footer') %>

<!-- JS scripts added here -->

<%- include('./templates/htmlClose') %>