
    <form action='/changingPassword' method='post'>
        <input name='password' type='password' placeholder='password'>
       <button>Submit</button>
    </form>

    <%- include('./templates/htmlOpen') %>

<!-- Stylesheets added here -->

<%- include('./templates/header') %>

<!-- Main content here -->

<%- include('./templates/footer') %>

<!-- JS scripts added here -->

<%- include('./templates/htmlClose') %>