<form action='/securityQuestion' method='post'>
    Enter your email and your security answer for your favorite animal.
    <input name='email' type='email' placeholder='email'>
    <input name='answer' type='text' placeholder='animal'>
   <button>Submit</button>
</form>