<%- include('./templates/htmlOpen') %>

<!-- Stylesheets added here -->
<link rel="stylesheet" href="../styling/successCSS.css">

<%- include('./templates/header') %>

<% if (inputArray && inputArray.length) { %>
  <br><h2 class="centered">We think you'd like:</h2><br>

  <div class="card-container d-flex justify-content-start centered">
    <% inputArray.forEach(function(entry) { %>
      <%- include('./templates/songCard', { entry: entry }) %>
    <% }) %>
  </div>
<% } %>

<script src="../scripts/spotifyUser.js"></script>
<script src="../scripts/successJS.js"></script>
<!-- JS scripts added here -->

<%- include('./templates/htmlClose') %>
