</div>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="https://dummyimage.com/30X30/ff0004/fff&text=S" alt="Logo Standin"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button class="nav-item nav-link active" id="profileButton">Profile</a>
        <button class="nav-item nav-link active" id="homeButton">Home</a>
        <button class="nav-item nav-link active" id="addButton">Add</a>
      </div>
    </div>
  </nav>
  <div class="addPadding">