
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="<%= entry.imageURL %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= entry.songName %></h5>
      <p class="card-text"><%= entry.artists %></p>
      <a href="<%= entry.songURL %>" class="btn btn-primary">Listen Now</a>
    </div>
  </div>
