/* The * selector will impact ALL, so be cautious */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.addPadding {
    padding-left: 5vw;
    padding-right: 5vw;
}

.centered {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

button.centered {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.header-button{
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.active-button{
    background-color: lightgrey;
}