/* The * selector will impact ALL, so be cautious */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.addPadding {
    padding-left: 5vw;
    padding-right: 5vw;
}

.centered {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

button.centered {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

.login-form{
    /* justify-content: center; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    /* padding-bottom: 15px; */
    position: fixed;
    padding-top: 5%;
    left: 50%;
    transform: translate( -50%);
    height: 70%;
    width: 50%;
}
.login-form-text{
    justify-self: flex-start;
    justify-content: center;
    text-align: center;
    display: grid;
}
.login-form-info{
    padding: 10px;
    justify-content: center;
    text-align: center;
    display: grid;
}
.login-form-info-input{
    width: 120%;
    margin-bottom: 4px;
    margin-top: 4px;
    justify-content: center;
    align-items: center;
    justify-self: center;
}
.signup-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.signup-form-info{
    padding: 10px;
    justify-content: center;
    text-align: center;
    display: grid;
}
.signup-form-info-input{
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
    justify-content: center;
    align-items: center;
    justify-self: center;
}